.match-notice{

    background:#FFF;

    border:1px solid #E7E0D4;

    border-radius:20px;

    padding:14px 16px;

    box-shadow:none;
}

.match-notice h2 {

    font-family: "Tienne", serif;

    font-size: 20px;

    font-weight: 700;
    
    color: #171717;
}

.match-notice p {

    font-family:"Inter", sans-serif;

    font-size: 16px;

    color: #333;

    line-height: 1.45;
}