.candidate-section{

    display:flex;
    flex-direction:column;

    gap:22px;
}

.candidate-title{

    font-family:"Tienne",serif;

    font-size:18px;

    font-weight:500;
    margin-bottom:4px;
    color:#333;
}

.candidate-grid{

    display:flex;

    gap:24px;
}